<div class="center">
    <div style="display: inline-block; margin-right:50px;">
        <mat-form-field appearance="outline">
            <mat-label>Job Title, Keywords</mat-label>
            <input matInput>
            <mat-hint>Search</mat-hint>
        </mat-form-field>
    </div>
    <div style="display: inline-block; margin-right:50px;">
        <mat-form-field appearance="outline">
            <mat-label>City, State</mat-label>
            <input matInput>
            <mat-hint>Search</mat-hint>
        </mat-form-field>
    </div>
    <div style="display: inline-block;">
        <button mat-raised-button color="primary">Find Jobs</button>
    </div>
</div>